@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600;700;900&display=swap');
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Segoe UI Semibold';
        font-style: normal;
        font-weight: 600;
        src: local('Segoe UI Semibold'), url('../fonts/Segoe UI Semibold.woff') format('woff');
        }
  
        