%seg400 {
    font-family: 'Segoe UI Regular';
    font-weight: 400;
}
%seg600 {
    font-family: 'Segoe UI Semibold';
        font-weight: 600;
}
%seg700 {
    font-family: 'Segoe UI Bold';
    font-weight: 700;
}

%bitter600 {
    font-family: 'Bitter', serif;
    font-weight: 600;
}
%bitter700 {
    font-family: 'Bitter', serif;
    font-weight: 700;
}
%bitter900 {
    font-family: 'Bitter', serif;
    font-weight: 900;
}
